<div class="container">
<div class="row">
    <div class="col">
        <p class="text-end">Hola {{persona}} ! <a href=""class="btn btn-info">Cerrar sesion <i class="fa-solid fa-right-from-bracket">
        </i></a></p>

    </div>

</div>
<div class="row">
    <div class="col-7">
        <h3 style="font-family: 'Open Sans', sans-serif">Productos por tiempo limitado</h3>

    </div>
    <div class="col-5 text-end">
      <a href="/admin/novedades/agregar" class="btn btn-secondary">Nuevo <i class="fa-solid fa-circle-plus"></i></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">precio</th>
      <th scope="col" class="text-center">cuerpo</th>
      <th scope="col"class="text-end">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#each novedades}}
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{nombre}}</td>
      <td>{{precio}}</td>
      <td>{{cuerpo}}</td>
      <td class="text-end">
        <a href=""class="btn btn-secondary"><i class="fa-solid fa-pencil"></i></a>
        <a href=""class="btn btn-secondary"><i class="fa-solid fa-trash"></i></a>
      </td>
      
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</div>
</div>
